In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/datasetdechoques/README.md
/kaggle/input/datasetdechoques/input/atus_anual_2021.csv
/kaggle/input/datasetdechoques/input/atus_anual_2022.csv
/kaggle/input/datasetdechoques/input/atus_anual_2020.csv

**1.Cargue en un Dataframe los datos de los accidentes de los últimos 3 años**

In [2]:
df2020 = pd.read_csv("/kaggle/input/datasetdechoques/input/atus_anual_2020.csv", index_col=False)
df2021 = pd.read_csv("/kaggle/input/datasetdechoques/input/atus_anual_2021.csv", index_col=False)
df2022 = pd.read_csv("/kaggle/input/datasetdechoques/input/atus_anual_2022.csv", index_col=False)
dfAccidentes = pd.concat([df2020, df2021, df2022])
dfAccidentes

,COBERTURA,ID_ENTIDAD,ID_MUNICIPIO,ANIO,MES,ID_HORA,ID_MINUTO,ID_DIA,DIASEMANA,URBANA,...,PEATMUERTO,PEATHERIDO,CICLMUERTO,CICLHERIDO,OTROMUERTO,OTROHERIDO,NEMUERTO,NEHERIDO,CLASACC,ESTATUS
0,Municipal,1,1,2020,1,0,0,1,Miercoles,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
1,Municipal,1,1,2020,1,0,0,1,Miercoles,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
2,Municipal,1,1,2020,1,0,10,1,Miercoles,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
3,Municipal,1,1,2020,1,2,0,1,Miercoles,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
4,Municipal,1,1,2020,1,2,10,1,Miercoles,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392705,Municipal,32,56,2022,12,7,45,30,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,0,No fatal,Cifras Definitivas
392706,Municipal,32,56,2022,12,8,0,30,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
392707,Municipal,32,56,2022,12,17,20,30,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
392708,Municipal,32,56,2022,12,14,45,31,Sabado,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
392709,Municipal,32,56,2022,12,22,15,31,Sabado,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas

Se notó que los índices se estaban repitiendo, por lo tanto, es necesario abordar ese problema y resolverlo.

In [3]:
dfAccidentes = dfAccidentes.reset_index(drop=True)
dfAccidentes

,COBERTURA,ID_ENTIDAD,ID_MUNICIPIO,ANIO,MES,ID_HORA,ID_MINUTO,ID_DIA,DIASEMANA,URBANA,...,PEATMUERTO,PEATHERIDO,CICLMUERTO,CICLHERIDO,OTROMUERTO,OTROHERIDO,NEMUERTO,NEHERIDO,CLASACC,ESTATUS
0,Municipal,1,1,2020,1,0,0,1,Miercoles,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
1,Municipal,1,1,2020,1,0,0,1,Miercoles,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
2,Municipal,1,1,2020,1,0,10,1,Miercoles,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
3,Municipal,1,1,2020,1,2,0,1,Miercoles,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
4,Municipal,1,1,2020,1,2,10,1,Miercoles,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067066,Municipal,32,56,2022,12,7,45,30,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,0,No fatal,Cifras Definitivas
1067067,Municipal,32,56,2022,12,8,0,30,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
1067068,Municipal,32,56,2022,12,17,20,30,Viernes,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
1067069,Municipal,32,56,2022,12,14,45,31,Sabado,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas
1067070,Municipal,32,56,2022,12,22,15,31,Sabado,Accidente en intersección,...,0,0,0,0,0,0,0,0,Sólo daños,Cifras Definitivas

**2.Agregue una columna tipo date que englobe las columnas correspondientes a Año, Mes, Dia, Hora y Minuto.**

In [25]:
dfAccidentes['FECHA'] = pd.to_datetime({'year': dfAccidentes["ANIO"],
                                       'month': dfAccidentes["MES"],
                                       'day': dfAccidentes["ID_DIA"],
                                       'hours': dfAccidentes["ID_HORA"],
                                       'minutes': dfAccidentes["ID_MINUTO"]})
dfAccidentes['FECHA']

0         2020-01-01 00:00:00
1         2020-01-01 00:00:00
2         2020-01-01 00:10:00
3         2020-01-01 02:00:00
4         2020-01-01 02:10:00
                  ...
1067066   2022-12-30 07:45:00
1067067   2022-12-30 08:00:00
1067068   2022-12-30 17:20:00
1067069   2022-12-31 14:45:00
1067070   2022-12-31 22:15:00
Name: FECHA, Length: 1067071, dtype: datetime64[ns]

**3.Agregue una columna para Área cuyos valores serán Urbana o Suburbana dependiendo del área donde ocurrió el accidente.**

es mas sencillo crear una funcion y luego aplicarla

In [18]:
#funcion para definir si el area fue urbana o suburbana
def fill_area(dato):
    if 'Sin accidente en esta zona' not in dato["URBANA"]:
        return 'Urbana'
    elif 'Sin accidente en esta zona' not in dato["SUBURBANA"]:
        return 'Suburbana'
    else:
        return 'NA'
print("Hecho")

Hecho

se le apica la funcion a la nueva columna para llenar algunos datos

In [19]:
#axis=1 para especificar columnas
dfAccidentes['AREA'] = dfAccidentes.apply(lambda dato: fill_area(dato), axis=1)
dfAccidentes['AREA']

0          Urbana
1          Urbana
2          Urbana
3          Urbana
4          Urbana
            ...
1067066    Urbana
1067067    Urbana
1067068    Urbana
1067069    Urbana
1067070    Urbana
Name: AREA, Length: 1067071, dtype: object

**4.Agregue una columna Zona cuyos valores serán la zona donde ocurrió el accidente**

para agregar una nueva columna de ZONA podemos utilizar una funcion similar a la anterior con la unica diferencia de que retorne los valores de dichas columnas y no una cadena predeterminada

In [29]:
#funcion para definir la zona
def fill_zona(dato):
    if 'Sin accidente en esta zona' not in dato["URBANA"]:
        return dato["URBANA"]
    elif 'Sin accidente en esta zona' not in dato["SUBURBANA"]:
        return dato["SUBURBANA"]
    else:
        return 'NA'
print("Hecho")

Hecho

funcion de la nueva colum

In [25]:
dfAccidentes['ZONA'] = dfAccidentes.apply(lambda dato: fill_zona(dato), axis=1)
dfAccidentes['ZONA']

0          Accidente en intersección
1          Accidente en intersección
2          Accidente en intersección
3          Accidente en intersección
4          Accidente en intersección
                     ...
1067066    Accidente en intersección
1067067    Accidente en intersección
1067068    Accidente en intersección
1067069    Accidente en intersección
1067070    Accidente en intersección
Name: ZONA, Length: 1067071, dtype: object

**5.Elimine las columnas URBANA y SUBURBANA**

In [30]:
dfAccidentes = dfAccidentes.drop(['URBANA', 'SUBURBANA'], axis=1)
dfAccidentes

,COBERTURA,ID_ENTIDAD,ID_MUNICIPIO,ANIO,MES,ID_HORA,ID_MINUTO,ID_DIA,DIASEMANA,TIPACCID,...,CICLMUERTO,CICLHERIDO,OTROMUERTO,OTROHERIDO,NEMUERTO,NEHERIDO,CLASACC,ESTATUS,AREA,ZONA
0,Municipal,1,1,2020,1,0,0,1,Miercoles,Colisión con vehículo automotor,...,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,Urbana,Accidente en intersección
1,Municipal,1,1,2020,1,0,0,1,Miercoles,Colisión con objeto fijo,...,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,Urbana,Accidente en intersección
2,Municipal,1,1,2020,1,0,10,1,Miercoles,Colisión con motocicleta,...,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,Urbana,Accidente en intersección
3,Municipal,1,1,2020,1,2,0,1,Miercoles,Colisión con vehículo automotor,...,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,Urbana,Accidente en intersección
4,Municipal,1,1,2020,1,2,10,1,Miercoles,Colisión con vehículo automotor,...,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,Urbana,Accidente en intersección
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1067066,Municipal,32,56,2022,12,7,45,30,Viernes,Colisión con objeto fijo,...,0,0,0,0,0,0,No fatal,Cifras Definitivas,Urbana,Accidente en intersección
1067067,Municipal,32,56,2022,12,8,0,30,Viernes,Colisión con vehículo automotor,...,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,Urbana,Accidente en intersección
1067068,Municipal,32,56,2022,12,17,20,30,Viernes,Volcadura,...,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,Urbana,Accidente en intersección
1067069,Municipal,32,56,2022,12,14,45,31,Sabado,Colisión con vehículo automotor,...,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,Urbana,Accidente en intersección
1067070,Municipal,32,56,2022,12,22,15,31,Sabado,Colisión con motocicleta,...,0,0,0,0,0,0,Sólo daños,Cifras Definitivas,Urbana,Accidente en intersección

In [31]:
dfAccidentes.columns

Index(['COBERTURA', 'ID_ENTIDAD', 'ID_MUNICIPIO', 'ANIO', 'MES', 'ID_HORA',
       'ID_MINUTO', 'ID_DIA', 'DIASEMANA', 'TIPACCID', 'AUTOMOVIL', 'CAMPASAJ',
       'MICROBUS', 'PASCAMION', 'OMNIBUS', 'TRANVIA', 'CAMIONETA', 'CAMION',
       'TRACTOR', 'FERROCARRI', 'MOTOCICLET', 'BICICLETA', 'OTROVEHIC',
       'CAUSAACCI', 'CAPAROD', 'SEXO', 'ALIENTO', 'CINTURON', 'ID_EDAD',
       'CONDMUERTO', 'CONDHERIDO', 'PASAMUERTO', 'PASAHERIDO', 'PEATMUERTO',
       'PEATHERIDO', 'CICLMUERTO', 'CICLHERIDO', 'OTROMUERTO', 'OTROHERIDO',
       'NEMUERTO', 'NEHERIDO', 'CLASACC', 'ESTATUS', 'AREA', 'ZONA'],
      dtype='object')

**6.Determine cual municipio de cada estado tuvo más meses sin accidentes**

In [33]:

accidentes_mes = dfAccidentes.groupby(["ID_ENTIDAD", "ID_MUNICIPIO", "MES"])["MES"].count().reset_index(name='ACCIDENTES')
accidentes_mes

       ID_ENTIDAD  ID_MUNICIPIO  MES  ACCIDENTES
0               1             1    1         770
1               1             1    2         755
2               1             1    3         834
3               1             1    4         795
4               1             1    5         863
...           ...           ...  ...         ...
27750          32            56    8         128
27751          32            56    9         135
27752          32            56   10         137
27753          32            56   11         144
27754          32            56   12         158

[27755 rows x 4 columns]

se intento contar los meses sin accidentes, pero de esta forma los meses se contaran falta una condision para que los accidentes no se lleguen a contar

In [34]:
accidentes_mes.groupby(["ID_ENTIDAD", "ID_MUNICIPIO"])["MES"].count().reset_index(name='MESES_SIN_ACCIDENTES')

      ID_ENTIDAD  ID_MUNICIPIO  MESES_SIN_ACCIDENTES
0              1             1                    12
1              1             2                    12
2              1             3                    12
3              1             4                    12
4              1             5                    12
...          ...           ...                   ...
2345          32            49                    12
2346          32            51                    12
2347          32            52                    12
2348          32            55                    12
2349          32            56                    12

[2350 rows x 3 columns]

Solucion:

In [35]:
meses_noaccidentes = accidentes_mes[accidentes_mes["ACCIDENTES"] == 0]
meses_noaccidentes

Empty DataFrame
Columns: [ID_ENTIDAD, ID_MUNICIPIO, MES, ACCIDENTES]
Index: []

nuevo intento pero separando por año.

In [36]:
#podemos no usar reset_index pero simplemente quedaria como un series y no un df
accidentes_mes2 = dfAccidentes.groupby(["ID_ENTIDAD", "ID_MUNICIPIO", "ANIO", "MES"])["MES"].count().reset_index(name='ACCIDENTES')
accidentes_mes2

       ID_ENTIDAD  ID_MUNICIPIO  ANIO  MES  ACCIDENTES
0               1             1  2020    1         267
1               1             1  2020    2         253
2               1             1  2020    3         295
3               1             1  2020    4         220
4               1             1  2020    5         235
...           ...           ...   ...  ...         ...
81954          32            56  2022    8          49
81955          32            56  2022    9          58
81956          32            56  2022   10          49
81957          32            56  2022   11          42
81958          32            56  2022   12          46

[81959 rows x 5 columns]

No hay accidentes por meses asi q va ser por años

In [38]:
meses_noaccidentes2 = accidentes_mes2[accidentes_mes2["ACCIDENTES"] == 0]
meses_noaccidentes2

Empty DataFrame
Columns: [ID_ENTIDAD, ID_MUNICIPIO, ANIO, MES, ACCIDENTES]
Index: []

**7.Resuma los accidentes del último año por tipo y que porcentaje representan**

In [40]:
accidentes_2022 = dfAccidentes[dfAccidentes["ANIO"] == 2022]
accidentes_2022.groupby("TIPACCID")["TIPACCID"].agg(['count'])

                                        count
TIPACCID
Caída de pasajero                        1784
Certificado cero                        15479
Colisión con animal                      1022
Colisión con ciclista                    4048
Colisión con ferrocarril                  268
Colisión con motocicleta                53629
Colisión con objeto fijo                47033
Colisión con peatón (atropellamiento)   11066
Colisión con vehículo automotor        229940
Incendio                                  348
Otro                                     6325
Salida del camino                       10857
Volcadura                               10911

In [41]:
#total accidentes
total = len(accidentes_2022) 
conteo_accidentes = accidentes_2022["TIPACCID"].value_counts() #accidentes por tipo
print(conteo_accidentes)

TIPACCID
Colisión con vehículo automotor          229940
Colisión con motocicleta                  53629
Colisión con objeto fijo                  47033
Certificado cero                          15479
Colisión con peatón (atropellamiento)     11066
Volcadura                                 10911
Salida del camino                         10857
Otro                                       6325
Colisión con ciclista                      4048
Caída de pasajero                          1784
Colisión con animal                        1022
Incendio                                    348
Colisión con ferrocarril                    268
Name: count, dtype: int64

In [42]:
porcentaje_accidentes = (conteo_accidentes / total)*100
print(porcentaje_accidentes)

TIPACCID
Colisión con vehículo automotor          58.552112
Colisión con motocicleta                 13.656133
Colisión con objeto fijo                 11.976522
Certificado cero                          3.941585
Colisión con peatón (atropellamiento)     2.817855
Volcadura                                 2.778386
Salida del camino                         2.764635
Otro                                      1.610603
Colisión con ciclista                     1.030786
Caída de pasajero                         0.454279
Colisión con animal                       0.260243
Incendio                                  0.088615
Colisión con ferrocarril                  0.068244
Name: count, dtype: float64

aqui se puede ver mejor forma el porcentaje que representa cada tipo de accidente

In [43]:
dfporcentajes = pd.DataFrame({'TIPO_ACCIDENTE': conteo_accidentes.index,
                             'CONTEO': conteo_accidentes.values,
                             'PORCENTAJE': porcentaje_accidentes.values})
dfporcentajes

                           TIPO_ACCIDENTE  CONTEO  PORCENTAJE
0         Colisión con vehículo automotor  229940   58.552112
1                Colisión con motocicleta   53629   13.656133
2                Colisión con objeto fijo   47033   11.976522
3                        Certificado cero   15479    3.941585
4   Colisión con peatón (atropellamiento)   11066    2.817855
5                               Volcadura   10911    2.778386
6                       Salida del camino   10857    2.764635
7                                    Otro    6325    1.610603
8                   Colisión con ciclista    4048    1.030786
9                       Caída de pasajero    1784    0.454279
10                    Colisión con animal    1022    0.260243
11                               Incendio     348    0.088615
12               Colisión con ferrocarril     268    0.068244

**8.Obtenga la cantidad de muertos y lesionados de los últimos 3 años**

In [44]:
dfAccidentes.columns

Index(['COBERTURA', 'ID_ENTIDAD', 'ID_MUNICIPIO', 'ANIO', 'MES', 'ID_HORA',
       'ID_MINUTO', 'ID_DIA', 'DIASEMANA', 'TIPACCID', 'AUTOMOVIL', 'CAMPASAJ',
       'MICROBUS', 'PASCAMION', 'OMNIBUS', 'TRANVIA', 'CAMIONETA', 'CAMION',
       'TRACTOR', 'FERROCARRI', 'MOTOCICLET', 'BICICLETA', 'OTROVEHIC',
       'CAUSAACCI', 'CAPAROD', 'SEXO', 'ALIENTO', 'CINTURON', 'ID_EDAD',
       'CONDMUERTO', 'CONDHERIDO', 'PASAMUERTO', 'PASAHERIDO', 'PEATMUERTO',
       'PEATHERIDO', 'CICLMUERTO', 'CICLHERIDO', 'OTROMUERTO', 'OTROHERIDO',
       'NEMUERTO', 'NEHERIDO', 'CLASACC', 'ESTATUS', 'AREA', 'ZONA'],
      dtype='object')

In [47]:
sumar las columnas en el momento en que se agrupan

SyntaxError: invalid syntax (3171298773.py, line 1)

In [49]:
muertos = (dfAccidentes["CONDMUERTO"]+dfAccidentes["PASAMUERTO"]+dfAccidentes["PEATMUERTO"]+dfAccidentes["CICLMUERTO"]+dfAccidentes["OTROMUERTO"]+dfAccidentes["NEMUERTO"]).reset_index(name='MUERTOS')

muertos

           index  MUERTOS
0              0        0
1              1        0
2              2        0
3              3        0
4              4        0
...          ...      ...
1067066  1067066        0
1067067  1067067        0
1067068  1067068        0
1067069  1067069        0
1067070  1067070        0

[1067071 rows x 2 columns]

In [50]:
lesionados = (dfAccidentes["CONDHERIDO"]+dfAccidentes["PASAHERIDO"]+dfAccidentes["PEATHERIDO"]+dfAccidentes["CICLHERIDO"]+dfAccidentes["OTROHERIDO"]+dfAccidentes["NEHERIDO"]).reset_index(name='LESIONADOS')
lesionados

           index  LESIONADOS
0              0           0
1              1           0
2              2           0
3              3           0
4              4           0
...          ...         ...
1067066  1067066           1
1067067  1067067           0
1067068  1067068           0
1067069  1067069           0
1067070  1067070           0

[1067071 rows x 2 columns]

**se optó por crear la informacion en un nuevo df**

In [51]:
dfAccidentados = pd.DataFrame({'AÑO': dfAccidentes["ANIO"],
                              'MUERTOS': dfAccidentes["CONDMUERTO"]+dfAccidentes["PASAMUERTO"]+dfAccidentes["PEATMUERTO"]+dfAccidentes["CICLMUERTO"]+dfAccidentes["OTROMUERTO"]+dfAccidentes["NEMUERTO"],
                              'LESIONADOS': dfAccidentes["CONDHERIDO"]+dfAccidentes["PASAHERIDO"]+dfAccidentes["PEATHERIDO"]+dfAccidentes["CICLHERIDO"]+dfAccidentes["OTROHERIDO"]+dfAccidentes["NEHERIDO"]})
dfAccidentados

          AÑO  MUERTOS  LESIONADOS
0        2020        0           0
1        2020        0           0
2        2020        0           0
3        2020        0           0
4        2020        0           0
...       ...      ...         ...
1067066  2022        0           1
1067067  2022        0           0
1067068  2022        0           0
1067069  2022        0           0
1067070  2022        0           0

[1067071 rows x 3 columns]

In [ ]:
Resultados

In [52]:
años_muertos_lesionados = dfAccidentados.groupby("AÑO").agg({"MUERTOS": 'sum', "LESIONADOS": 'sum'})
años_muertos_lesionados

      MUERTOS  LESIONADOS
AÑO
2020     3826       71935
2021     4401       82466
2022     5181       91501

In [54]:
muertos_lesionados = dfAccidentados.agg({"MUERTOS": 'sum', "LESIONADOS": 'sum'}).reset_index()
muertos_lesionados

        index       0
0     MUERTOS   13408
1  LESIONADOS  245902

**9.¿Cómo se compara el número de accidentes de cada año contra el anterior? ¿En qué porcentaje varió?**

In [53]:
año_2020 = len(df2020)
año_2021 = len(df2021)
año_2022 = len(df2022)

accidentes_año = dfAccidentes["ANIO"].value_counts().reset_index(name='ACCIDENTES')
accidentes_año

   ANIO  ACCIDENTES
0  2022      392710
1  2021      356315
2  2020      318046

Sacar la variacion:

In [56]:
def variacion(dato):
    if dato.name < len(accidentes_año) - 1:
        año_act = dato["ACCIDENTES"]
        año_ant = accidentes_año.at[dato.name + 1, "ACCIDENTES"]
        variacion = ((año_act-año_ant)/año_ant)*100
        return variacion
    else: 
        return None

print("Finalizo")

Finalizo

**como podemos ver el porcentaje de variacion de un año con respecto al anterior es positivo y alrededor del 10 porciento**

In [57]:
accidentes_año['VARIACION'] = accidentes_año.apply(variacion, axis=1)
accidentes_año

   ANIO  ACCIDENTES  VARIACION
0  2022      392710  10.214277
1  2021      356315  12.032536
2  2020      318046        NaN